.chat-item {
    width: 725rpx;
    background: #ffffff;
    padding: 25rpx 25rpx 25rpx 0;
    border-bottom: solid 1px #ebebeb;
    image {
        width: 80rpx;
        height: 80rpx;
        border-radius: 80rpx;
    }
    .avatar {
        flex: 1;
    }
    .chat-content {
        flex: 4;
        text-align: left;
    }
    .chat-content text {
        /*display: block;*/
    }
    .chat-content .chat-source {
        color: #818A8F;
        font-size: 28rpx;
        padding: 4rpx 0 8rpx 0;
    }
    .chat-content .chat-source .chatmate {
        font-size: 34rpx;
        color: #000000;
        text-align: left;
    }
    .chat-content .chat-source .lasttime {
        flex: 1;
        font-size: 22rpx;
        float: right;
        vertical-align: text-bottom;
    }
    .chat-content .chat-txt {
        display: block;
        color: #7b7b7b;
        font-size: 26rpx;
        line-height: 34rpx;
    }
}